# List files that shall be ignored by git

# Documentation build files
/Documentation/html/
/Documentation/Doxygen/**/*.dxy
/Documentation/Doxygen/USB/src/template/
/Documentation/Doxygen/linkchecker-out.csv

# Pack build files
/build/
/output/
.clangd**
*.cbuild.yml**
*.cprj**
*.cbuild-idx.yml**
*.cbuild-pack.yml**
*.cbuild-set.yml**

# macOS Files
.DS_STORE**